.so{
    background-color: darkblue;
    padding: 20px;
    text-decoration: none;
    color:white;
    text-align: center;

}
.os,a{
    text-decoration: none;
    color:white;
    font-size: 25px;
    padding: 5px;

}

h1{
    background-color: azure;
    color: red;
    font-size: xxx-large;
    text-align: center;
    font-family: cursive;
    
 }